<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Matt Gershenzon">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Matt Gershenzon professional website">
    <title>Matt Gershenzon</title>
</head>
<body style ="font-family: Arial">
    <h1 id="webname">
        Matt Gershenzon
    </h1>
    <header>
        <nav>
            <a href="../index.html">About Me</a>
            <a href = "cv.html">Resume</a>
            <a href = "contact.html">Contact Info</a>
            <a href = "fun.html">Hobbies</a>
        </nav>
    </header>
    <div><main>
        <h2>
            Curriculum Vitae
        </h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Carnegie Mellon <br>University</td>
                    <td>Bachelors of Science in Information Systems,Graduating May 2028</td>
                    
                </tr>
                <tr>
                    <td>Franklin Regional <br>High School</td>
                    <td>Graduated Class of 2024 Highest Honors With Distinction</td></tr>
                <tr></tr>
                <tr>
                </tr>
                <tr>
                    <td>Franklin Regional<br>Middle School</td>
                    <td>Class of 2020</td>
                </tr>
                <tr>
                    <td>Sloan <br> Elementary School</td>
                    <td> Class of 2017</td>
                </tr>
            </tbody>
        </table>
        <a href = "../static/resume.pdf" target = "_blank" >My Resume (PDF)</a>
    </main></div>
    <footer>&#169 2025 Designed and Coded by Matt Gershenzon </footer>
    
</body>
</html>