<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Matt Gershenzon">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Matt Gershenzon professional website">
    <title>Matt Gershenzon</title>
</head>
<body style="font-family: Arial">
    <h1 id="webname"> 
        Matt Gershenzon
    </h1>
    <header>
        <nav>
            <a href="../index.html">About Me</a>
            <a href = "cv.html">Resume</a>
            <a href = "contact.html">Contact Info</a>
            <a href = "fun.html">Hobbies</a>
        </nav>
    </header>
    <div><main>
        <h2>
            Things I Love to do For Fun
        </h2>
        <ul>
            <li>Ski</li>
            <li>Play Soccer</li>
            <li>Watch Sports</li>
        </ul>
        </main></div>
    <footer>&#169 2025 Designed and Coded by Matt Gershenzon </footer>
    
</body>
</html>