<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Matt Gershenzon">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Matt Gershenzon professional website">
    <title>Matt Gershenzon</title>
</head>
<body style = "font-family: Arial" >
    <h1>Matt Gershenzon</h1>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "fun.html">For Fun</a>
        </nav>
    </header>
    <div><main>
        <h2>
            Contact Me
        </h2>
        <form action="contact.html" method="GET">
            <!--Name/email fields -->
            <div class="form-row">
              <label for="name">Your name (required)</label>
              <input type="text" id="name" name="name" required>
          
              <label for="email">Your email (required)</label>
              <input type="email" id="email" name="email" required>
          
            </div>
          
            <!--Large text area -->
            <div class="form-row">
              <textarea id="message" name="message" rows="5" placeholder="Write your comment here..." required></textarea>
            </div>
          
            <!-- Send button -->
            <button type="submit">SEND</button>
          </form>
          <table>
            <thead>Contact Method</thead><br>
            <tbody>
                <tr>
                    <td>Phone Number: 412-378-7879</td>
                </tr>
                <tr>
                    <td> Email: mgershe2@andrew.cmu.edu</td>
                </tr>
                <br>
            </tbody>
          </table>
    </main>
</div>
    <footer>&#169 2025 Designed and Coded by Matt Gershenzon </footer>
    
</body>
</html>