<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Matt Gershenzon">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Matt Gershenzon professional website">
    <title>Matt Gershenzon</title>
</head>
<body style="font-family: Arial">
    <h1>Matt Gershenzon</h1>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "fun.html">For Fun</a>
        </nav>
    </header>
    <div><main>
        <h2>
            Things I Love to do For Fun
        </h2>
        <ul>
            <li>Ski</li>
            <li>Play Soccer</li>
            <li>Watch Sports</li>
        </ul>
        </main></div>
    <footer>&#169 2025 Designed and Coded by Matt Gershenzon </footer>
    
</body>
</html>